<!DOCTYPE html>
<html ng-app="drag-and-drop">
  <head lang="en">
    <meta charset="utf-8">
    <title>Drag & Drop: Multiple listsr</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    <script src="angular-dragdrop.min.js"></script>
    <script src="app.js"></script>

  </head>
  <body>
    <div ng-controller="oneCtrl">
      <div class='contentWrapper ng-cloak'>
        <div class='content'>
          <div class="row-fluid">
            <ul class="thumbnails">



              <li class="span3" style='margin-left:5%;margin-top:5%;width:90%'>
                <div class="thumbnail" data-drop="true" ng-model='form_canvas' 
                data-jqyoui-options="optionsList1"  jqyoui-droppable="{multiple:true,onDrop:'hello'}"> <!-- beforeDrop:'beforeDropItem'-->
                  <div class="caption">
                    <div class="btn btn-info btn-draggable"
                    ng-repeat="item in form_canvas" ng-show="item.title" 
                    data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" 
                    ng-model="form_canvas"
                     jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                  </div>
                </div>
              </li>
              

            
            </ul>
          </div>
        </div>
      </div>


      <div>
          <button ng-click="GenerateForm()" class="btn btn-primary btn-block">Create form</button> 
      </div>

      
      <div class="navbar-inner" style="border-width:3px">
        <div class="container form-inline" style="text-align: center;">
          <div class="btn btn-droppable" ng-repeat="item in input_fields" 
          data-drop="true" ng-model='input_fields' 
          data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=input_fields])'}"  jqyoui-droppable="{index: {{$index}}}">
            <div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="input_fields" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>